@font-face {
    font-family: "bootstrap-icons";
    src: url("../fonts/bootstrap-icons.woff"),url("../fonts/bootstrap-icons.woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    font-family: "Karla",sans-serif;
    letter-spacing: 1.5px;
}
::selection{
    color: #ffffff;
    background-color: #9BCCBB;
}



body{
    background-color: #F5F4F0;
}

header{
    padding: 50px 0;
    text-align: center;
    height: 100px;
}
header p{
    margin-bottom: 20px;
    font-size: 1.3em;
}
main{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}
section{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    margin: 50px 0;
}
section img{
    width: 400px;
    height: 400px;
}
section .info{
    width: 35%;
}
section .img-box{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
section .img-box::before{
    content: "";
    width: 400px;
    height: 400px;
    background-color: #9BCCBB;
    position: absolute;
    bottom: -40px;
    left: -40px;
    z-index: -1;
}
section .img-box:nth-child(2):before,
section .img-box:nth-child(4):before{
    bottom: -40px;
    right: -40px;
    left: unset;
}
section .info p{
    font-size: 22px;
    line-height: 1.7;
    letter-spacing: 1.5px;
}
section .info h2{
    font-size: 30px;
    font-weight: 500;
}
.pris{
    display: block;
    padding-top: 60px;
    text-align: center;
}
.pris h2 , .pris p{
    margin: 10px 0;
    font-weight: 300;
    font-size: 20px;
}
.pris h2{
    word-spacing: 3px;
    font-size: 30px;
    font-weight: 400;
}

.form{
    padding: 60px 0 ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#9BCCBB;
    margin-bottom: 0;
}
.titre{
    margin-bottom: 20px;
}
.titre p{
    font-size: 20px;
    margin-top: 5px;
}
.titre h2{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0;
}

form{
    padding: 40px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.form form label{
    display: block;
}
.form form div{
    width: 85%;
}
.form form .op1{
    display: flex;
    justify-content: space-between;
}
.form form label{
    margin-bottom: 10px;
    color: #5A5661;
    font-size: 20px;
}
.form form input, textarea{
    background-color: #9BCCBB;
    border: none;
    border-bottom:2px solid black ;
    outline: none;
    margin-bottom: 30px;
    font-size: 1.3em;
}
.form form .op1 input{
    width:80%;
    padding:  5px 10px;

}
.form form .op2 input{
    width: 90%;
    padding:  5px 10px;
}
textarea{
    resize: none;
    padding:  5px 10px;
}
.btn{
    text-align: end;
    margin-right: 20%;
}
.btn input[type="submit"]{
    padding: 10px 20px;
    border: 2px solid black;
    font-size: 1.2em;
    cursor: pointer;
}
.btn input[type="submit"]:hover{
    background-color: #5A5661;
    color: #ffffff;
    border: 2px solid #5A5661;

}

footer{
    text-align: center;
}
footer p{
    font-size: 1.3em;
}
footer a{
    color: #551A8B;
}
footer i{
    margin:0 15px;
    color: #5A5661;
    font-size: 1.7em;
}